supabase-daily-backup-workflow.json
{
  "name": "Supabase Daily Backup → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public' AND table_type = 'BASE TABLE' ORDER BY table_name",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Get All Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [460, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Loop Over Tables",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT * FROM public.\"{{ $json.table_name }}\" LIMIT 100000",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Fetch Table Rows",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 180]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Loop Over Tables').item.json.table_name }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Clear Sheet Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 420]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "SHEET_ID_PLACEHOLDER",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Loop Over Tables').item.json.table_name }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Write to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 180]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [{ "node": "Get All Tables", "type": "main", "index": 0 }]
      ]
    },
    "Get All Tables": {
      "main": [
        [{ "node": "Loop Over Tables", "type": "main", "index": 0 }]
      ]
    },
    "Loop Over Tables": {
      "main": [
        [{ "node": "Fetch Table Rows", "type": "main", "index": 0 }],
        []
      ]
    },
    "Fetch Table Rows": {
      "main": [
        [{ "node": "Write to Google Sheets", "type": "main", "index": 0 }]
      ]
    },
    "Clear Sheet Tab": {
      "main": [
        [{ "node": "Write to Google Sheets", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
